

body {
  background-color: #00172B;

  background-image: url('/assets/bg/background.png');

  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-canvas {
  padding: 0;
  image-rendering: pixelated;
  image-rendering: optimizeSpeed;             /*Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /*FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /*Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /*OS X & Windows Opera (12.02+)*/
  image-rendering: crisp-edges;               /*Possible future browsers*/
  -ms-interpolation-mode: nearest-neighbor;   /*IE (non standard naming)*/
  border: 6px solid #01090f;
  border-right-width: 3px;
}

.score-canvas {
  border: 6px solid #01090f;
  border-left-width: 3px;
}